@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #0C4160; 
    --primary-text: #fff;
}
/* base styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #071330;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #071330;
}

h1,h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.hidden {
    visibility: hidden;
    height: 0;
}

/* Navigation */
.navbar {
    background-color: var(--primary-color);
    color: var(--primary-text);
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar ul{
    display: flex;

}

.navbar a {
    color: var(--primary-text);
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px var(--primary-text) solid;
}

.navbar .flex {
    justify-content: space-between;
}

/* Showcase */
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: var(--primary-text);
    position: relative;
    /* width: 100%; */
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-form {
    position: relative;
    top: 80px;
    /* height: 375px; */
    height: auto;
    max-width: 450px;
    padding: 40px;
    z-index: 99;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'],
.showcase-form textarea[type='text'],
.contact-form-wrapper input[type='text'],
.contact-form-wrapper input[type='email'],
.contact-form-wrapper textarea[type='text'] {
    border: 0;
    border-bottom: 1px solid #C3CEDA;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form textarea,input:focus,
.contact-form-wrapper textarea,input:focus {
    outline: none;
}

.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

/* About */
.about {
    padding-top: 100px;
    position: relative;
}

.about .grid h3 {
    font-size: 25px;
}

.grid-3 i {
    color: #071330;
}

/* Projects */

.projects {
    /* background-color: var(--primary-color); */
    background-color: #DEE2EC;
    height: auto;
    padding: 100px 0;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 552px;
    height: 100%;
}

.image-wrapper img {
    width:100%;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-top: 20px;
}

/* Contact */
.contact {
    height: auto;
    padding: 100px;
    position: relative;
}

.contact-form-wrapper h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
    text-align: center;
}

.contact-form-wrapper input,
.contact-form-wrapper textarea {
    margin-top: 2em;
}

/* Footer */
.footer {
    background-color: var(--primary-color);
    color: var(--primary-text);
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.social i {
    color: #DEE2EC;
}

/* Tablets and under */
@media(max-width: 768px) {
    .grid,
    .showcase .grid,
    .about .grid,
    .projects .grid {
        grid-template-columns: 1fr;
        height: auto;
        /* width: auto; */
    }

    .grid {
        /* height: 50% */
    }
    .showcase {
        height: auto;
        margin-bottom: 20px;
        width: 100%;
    }

    .showcase-text {
        text-align: center;
        padding-top: 20px;
        margin-top: 60px;
    }
    .showcase-form {
        justify-self: center;
        margin: auto;
        width: 100%;
    }
}


/* Moblie */
@media (max-width: 500px) {
    .navbar {
        height: 110px;
        position: relative;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .contact h2 {
        font-size: 26px;
    }
}